.font-color-white {
    color: white !important;
}

.space-right {
    margin-left: 10px;
}

.margin-top-parent-div {
    padding-top: 50px;
}
li{
    font-size: 20px;
    font-weight: 500    ;
}
